<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <PinterestConfig>
            <general>
                <client_id>1484912</client_id>
                <pinterest_base_url>https://commerce-app.pintergration.com</pinterest_base_url>
            </general>
        </PinterestConfig>
    </default>
</config>