<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Pinterest_PinterestMagento2Extension" translate="label" sortOrder="1000">
            <label>Pinterest</label>
        </tab>
        <section id="PinterestConfig" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Configurations</label>
            <tab>Pinterest_PinterestMagento2Extension</tab>
            <resource>Pinterest_PinterestMagento2Extension::PinterestConfig</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="client_id" translate="label comment" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Client ID</label>
                    <comment>Client ID for Pinterest. This is used to identify Adobe Commerce/Magento clients on Pinterest.</comment>
                    <validate>required-entry no-whitespace integer</validate>
                    <frontend_model>Pinterest\PinterestMagento2Extension\Block\Adminhtml\System\Config\DisableField</frontend_model>
                </field>
                <field id="pinterest_base_url" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Integration Base URL</label>
                    <comment>Base URL path for Pinterest.</comment>
                    <validate>required-entry no-whitespace</validate>
                    <frontend_model>Pinterest\PinterestMagento2Extension\Block\Adminhtml\System\Config\DisableField</frontend_model>
                </field>
                <field id="pinterest_catalog_enabled" translate="label comment" type="select" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Catalog Ingestion</label>
                    <comment>Allow catalog ingestion to Pinterest</comment>
                    <validate>required-entry no-whitespace</validate>
                    <source_model>Pinterest\PinterestMagento2Extension\Model\Config\PinterestCatalogConfigList</source_model>
                    <backend_model>Pinterest\PinterestMagento2Extension\Model\Config\PinterestCatalogConfigBackend</backend_model>
                </field>
                <field id="pinterest_conversion_enabled" translate="label comment" type="select" sortOrder="4" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Conversion tracking</label>
                    <comment>Send clientside and serverside conversion events. To update this setting, disconnect and reconnect your Pinterest business account to Adobe Commerce.</comment>
                    <validate>required-entry no-whitespace</validate>
                    <source_model>Pinterest\PinterestMagento2Extension\Model\Config\PinterestConversionConfigList</source_model>
                    <frontend_model>Pinterest\PinterestMagento2Extension\Block\Adminhtml\System\Config\DisableField</frontend_model>
                </field>
                <field id="pinterest_regenerate_feeds" translate="label comment" type="text" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Catalog Sync</label>
                    <comment>Manually run catalog creation and feed registration</comment>
                    <frontend_model>Pinterest\PinterestMagento2Extension\Block\Adminhtml\System\Config\RegenerateCatalogFeeds</frontend_model>
                </field>
            </group>
            <group id="gdpr" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Data Protection Regulation (GDPR)</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable GDPR</label>
                    <source_model>Pinterest\PinterestMagento2Extension\Model\Config\PinterestYesNoOptions</source_model>
                </field>
                <field id="option" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Options</label>
                    <source_model>Pinterest\PinterestMagento2Extension\Model\Config\PinterestGDPROptions</source_model>
                    <depends>
                        <field id="*/*/enabled">1</field>
                    </depends>
                </field>
                <field id="cms_cookiebot" translate="label comment" type="note" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description</label>
                    <comment><![CDATA[ 
                        This option integrates with CookieBot CMS to check if the user has accepted cookies.
                        The app listens to CookiebotOnConsentReady/CookiebotOnLoad events and checks Cookiebot.consent.marketing value to be true. <a href="https://www.cookiebot.com/en/developer/?_gl=1*1ew7pv1*_ga*MzYzMjcyOTM3LjE3Mjc5Nzc2ODk.*_ga_HXY5PN80YH*MTcyNzk3NzY4OC4xLjEuMTcyNzk4MjE3NS4wLjAuMA..*_fplc*ME1xZlJTTHU4SW5Oa1puRXRjTlY3a2hOZVRPU1ZhQnkyTnNRMU9EQjElMkJ1dkJwdU9wU05FSmtHNXozZW5vQnROc1JiY1J2TWdDem9JRVAlMkZ1ZkZUWlNGWTFxZnduV3ltciUyQlIwYjBkJTJCVmpFayUyQmJHTVA2emtzJTJGQURDSmlHdlV3JTNEJTNE" target="_blank">For more details refer to the cookiebot documentation.</a>
                    ]]></comment>
                    <depends>
                        <field id="*/*/option" separator=",">3</field>
                        <field id="*/*/enabled">1</field>
                    </depends>
                </field>
                <field id="gdpr_cookie_name" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cookie Name</label>
                    <comment><![CDATA[Provide a custom cookie name to check. Disable user tracking if the value is falsy. i.e null, undefined, false or 0]]></comment>
                    <depends>
                        <field id="*/*/option" separator=",">2</field>
                        <field id="*/*/enabled">1</field>
                    </depends>
                    <validate>required-entry alphanumeric</validate>
                </field>
                <field id="note" translate="label comment" type="note" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" >
                    <label>Description</label>
                    <comment>Tracking is controlled at Stores > Configuration > General > Web > Default Cookie Settings > Cookie Restriction Mode</comment>
                    <depends>
                        <field id="*/*/option" separator=",">1</field>
                        <field id="*/*/enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="ldp" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Limited Data Processing (LDP)</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Limited Data Processing flag</label>
                    <comment model="Pinterest\PinterestMagento2Extension\Block\Adminhtml\System\LDPComment" />
                    <source_model>Pinterest\PinterestMagento2Extension\Model\Config\PinterestYesNoOptions</source_model>
                    <frontend_model>Pinterest\PinterestMagento2Extension\Block\Adminhtml\System\Config\LdpField</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>