<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Pinterest_PinterestMagento2Extension" translate="label" sortOrder="1000">
            <label>Pinterest</label>
        </tab>
        <section id="PinterestConfig" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Configurations</label>
            <tab>Pinterest_PinterestMagento2Extension</tab>
            <resource>Pinterest_PinterestMagento2Extension::PinterestConfig</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="client_id" translate="label comment" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Client ID</label>
                    <comment>Client ID for Pinterest. This is used to identify Adobe Commerce/Magento clients on Pinterest.</comment>
                    <validate>required-entry no-whitespace integer</validate>
                    <frontend_model>Pinterest\PinterestMagento2Extension\Block\Adminhtml\System\Config\DisableField</frontend_model>
                </field>
                <field id="pinterest_base_url" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Base URL</label>
                    <comment>Base URL path for Pinterest.</comment>
                    <validate>required-entry no-whitespace</validate>
                    <frontend_model>Pinterest\PinterestMagento2Extension\Block\Adminhtml\System\Config\DisableField</frontend_model>
                </field>
                <field id="pinterest_catalog_enabled" translate="label comment" type="select" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Catalog Ingestion</label>
                    <comment>Turn on or off catalog ingestion to Pinterest</comment>
                    <validate>required-entry no-whitespace</validate>
                    <source_model>Pinterest\PinterestMagento2Extension\Model\Config\PinterestCatalogConfigList</source_model>
                    <backend_model>Pinterest\PinterestMagento2Extension\Model\Config\PinterestCatalogConfigBackend</backend_model>
                </field>
                <field id="pinterest_conversion_enabled" translate="label comment" type="select" sortOrder="4" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Tag and API for Conversions</label>
                    <comment>Turn on or off Pinterest tag and Pinterest API for Conversions. This setting can only be set during onboarding. Disconnect and reconnect to change the value.</comment>
                    <validate>required-entry no-whitespace</validate>
                    <source_model>Pinterest\PinterestMagento2Extension\Model\Config\PinterestConversionConfigList</source_model>
                    <frontend_model>Pinterest\PinterestMagento2Extension\Block\Adminhtml\System\Config\DisableField</frontend_model>
                </field>
                <field id="pinterest_regenerate_feeds" translate="label comment" type="text" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Catalog Sync</label>
                    <comment>Manually run catalog creation and feed registration</comment>
                    <frontend_model>Pinterest\PinterestMagento2Extension\Block\Adminhtml\System\Config\RegenerateCatalogFeeds</frontend_model>
                </field>
            </group>
            <group id="gdpr" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Data Protection Regulation (GDPR)</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable GDPR</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="option" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Options</label>
                    <source_model>Pinterest\PinterestMagento2Extension\Model\Config\PinterestGDPROptions</source_model>
                    <depends>
                        <field id="*/*/enabled">1</field>
                    </depends>
                </field>
                <field id="gdpr_cookie_name" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cookie Name</label>
                    <comment>
                        Provide a custom cookie name to check. Allow tracking of user if this cookie value is set to any value (i.e not null)
                    </comment>
                    <depends>
                        <field id="*/*/option" separator=",">2</field>
                        <field id="*/*/enabled">1</field>
                    </depends>
                    <validate>required-entry alphanumeric</validate>
                </field>
                <field id="note" translate="label comment" type="note" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" >
                    <comment>
                        Tracking is controlled at Stores > Configuration > General > Web > Default Cookie Settings > Cookie Restriction Mode
                    </comment>
                    <depends>
                        <field id="*/*/option" separator=",">1</field>
                        <field id="*/*/enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>